
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('assets/img/about-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading">
          <h1>About Me</h1>
          <hr class="small">
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <p>I am a self-taught full-stack web developer. I know my way around WordPress, AngularJS and Node.js. I have recently started experimenting with Vue.js and Laravel.</p>

      <p>Fluent in PHP, HTML5, CSS3, SASS, TypeScript and use Gulp to automate tasks. Manage my web servers myself. I have well understanding with MVC and object oriented concept along with  C, C++ and Java. Love to work in collaboration with team members.</p>
    </div>
  </div>
</div>
