
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('assets/img/post-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-heading" *ngIf="post">
          <h1>{{ post.title.rendered }}</h1>
          <h2 class="subheading">On <span *ngFor="let cat of post.categories ">{{cat}}</span></h2>
          <span class="meta">Posted by Shazahanul Islam Shohag on {{ post.date | date }}</span>
        </div>
        <div class="post-heading" *ngIf="!post">
          <h1>No post found!</h1>
          <h2 class="subheading">Sorry!!!!</h2>

        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" *ngIf="post" [innerHTML]="post.content.rendered">
      </div>
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" *ngIf="!post" >
        <p>Please Try Again. </p>
      </div>
    </div>
  </div>
</article>
